<nav class=" site-header navbar sticky-top navbar-expand-md navbar-light">
    <a class="navbar-brand visible-xs home-link py-2 d-inline-flex" href="/">
        <img src="./assets/images/nallely_logo.png" width="24" height="24" viewBox="0 0 24 24">
        <span> allely Alcaraz</span>
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuOptions" aria-controls="menuOptions"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="menuOptions">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>

    </div> -->
</nav>
<!-- <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="home-link py-2 d-inline-flex" href="#">
                <img src="./assets/images/nallely_logo.png" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <span> allely Alcaraz</span>
            </a>

        </div>
    </nav> -->