.container {
  max-width: 960px;
}

body {
  /* background: url("../images/trees.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 151, 167, 0.95);
  outline: 1px solid rgba(0, 151, 167, 0.95);
}

/*
   * Custom translucent site header
   */

.site-header {
  background-color: #ffc107;
  /* -webkit-backdrop-filter: saturate(180%) blur(20px); */
}

.site-header .home-link {
  font-size: 24px;
  font-family: "Sacramento", cursive;
}
.site-header a {
  color: #00838f !important;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  /* color: rgba(117, 117, 117) !important; */
  font-weight: 800;
  text-decoration: none;
}

.site-footer {
  color: #00838f !important;
  background-color: rgba(245, 245, 245, 0.9);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.name-div {
  /* background-image: url("../images/trees.jpg");
  background-size: cover; */
  background: url("../images/trees.JPG") no-repeat;
  background-size: cover;

  color: white;
  font-weight: 100;
  font-family: "Sacramento", cursive;
}

.name-div .overlay {
  background: rgba(55, 71, 79, 0.8);
  height: 100%;
  width: 100%;
  /* opacity: 0; */
  top: 0;
  left: 0;
  /* position: absolute; */
  padding: 0;
  transition: opacity 0.5s;
}

.about-me {
  background: rgba(0, 151, 167, 0.95);
  color: white;
}

.education {
  background-color: rgba(255, 255, 255, 0.95);
}
.experience {
  background-color: rgba(117, 117, 117, 0.95);
  color: white;
}
.skills {
  background-color: rgba(0, 151, 167, 0.95);
  color: white;
}

.skills .list-group-item {
  background-color: transparent;
}

.avatar {
  height: 20rem;
  border-radius: 50%;
  border: 5px rgba(255, 179, 0, 0.7) solid;
}

/*
   * Extra utilities
   */

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

hr.thick {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}
