<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./assets/images/nallely_logo.png">

    <title>Nallely Alcaraz</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/styles/site.css" rel="stylesheet">
</head>

<body>

    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-inline-flex" href="#">
                <img src="./assets/images/nallely_logo.png" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <span> allely Alcaraz</span>
            </a>
            <!-- <a class="py-2 d-none d-md-inline-block" href="#">Home</a> -->

        </div>
    </nav>

    {% include nallely.html %}
    <!--ABOUT ME-->
    {% include about-me.html %}
    <!--EXPERIENCE-->
    {% include experience.html %}
    <!--EDUCATION-->
    {% include education.html %}







    <footer class="container py-2">
        <div class="row">
            <div class="col-12 col-md">
                <img src="./assets/images/nallely_logo.png" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <small class="d-block mb-3 text-light">&copy; 2017-2018</small>
            </div>

        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="./assets/vendors/bootstrap/js/bootstrap.js"></script>

</body>

</html>