<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./assets/images/nallely_logo.png">

    <title>Nallely Alcaraz</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="./assets/styles/site.css" rel="stylesheet">


</head>

<body>


    {% include nav.html %} {% include nallely.html %}
    <!--ABOUT ME-->
    {% include about-me.html %}
    <!--EXPERIENCE-->
    {% include experience.html %}
    <!--EDUCATION-->
    {% include education.html %}
    <!--SKILLS-->
    {% include skills.html %}







    <footer class="site-footer px-4 py-2">
        <div class="row">
            <div class="col-12 col-md">
                <img src="./assets/images/nallely_logo.png" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <small class="d-block mb-3 text-dark">&copy; 2018</small>
            </div>

        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="./assets/vendors/bootstrap/js/bootstrap.js"></script>


</body>

</html>